@font-face {
  font-family: "Roboto Slab", serif;
  src: url("../fonts/RobotoSlab-Light.ttf") format("ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Roboto Slab", serif;
  src: url("../fonts/RobotoSlab-Regular.ttf") format("ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto Slab", serif;
  src: url("../fonts/RobotoSlab-Bold.ttf") format("ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Roboto", serif;
  src: url("../fonts/Roboto-Regular.ttf") format("ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto", serif;
  src: url("../fonts/Roboto-Medium.ttf") format("ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Roboto", serif;
  src: url("../fonts/Roboto-Bold.ttf") format("ttf");
  font-weight: 700;
}

